#page {
    width:580px;
    height:850px;
    margin: auto;
    font-family:Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 14px;
}

#mainChartContainer {
    width:325px;
    height:100%;
}

#chart {
    width:100%;
    height:100%;
}
.bigBarLabel.pro{
	text-align: right;
}
.bigBarLabel {
    font-size:0.7em;
    font-style:italic;
    pointer-events:none;
    z-index:99999;
    fill:rgb(60, 60, 60);
    visibility:hidden;
    text-align: right;
}

#infoBox {
    float:right;
    width:240px;
    padding-left: 14px;
    border-left: 1px dashed #999999;
    padding-top: 10px;
}

.miniChartContainer {
    width:50%;
    height:150px;
    margin-bottom:30px;
}

#ibLeftChartContainer {
    float:left;
}

#ibRightChartContainer {
    float:right;
}

.miniChartTitle {
    width: 100%;
    text-align: center;
}

.miniBarLabel {
    font-size:.7em;
    fill:black;
    margin-bottom: 2px;
}

.stateLabel {
    font-family:Arial, Helvetica, sans-serif;
    font-size:.8em;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis {
    opacity: .5;
    fill: none;
}

.x.axis line {
    stroke: #fff;
    stroke-opacity: .8;
}

.x.axis text {
    font: 8.5px sans-serif;
    fill: black;
}

.mini-axis path,
.mini-axis line {
    fill:none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x.mini-axis path {
    display: none;
}

.x.mini-axis text {
    font-size: .8em;
}

.colLabel {
    font: .9em sans-serif;
    fill: black;
}

.bar {
}

.bar.control {
    fill: #e1b51b;
}

.bar.rights {
    fill: #d08429;
}

/* INFO BOX */

.selectorMask {
    fill: rgba(55,55,55,0);
    z-index: 999;
}

.selectorMask.darkened{
    fill: rgba(55,55,55,.1);
}

.selectorMask.selected{
    fill: rgba(55,55,55,0);
    stroke-width: 1px;
    stroke-dasharray: 1px;
    stroke: rgb(207, 207, 207);
}

#ibHeader {
	font-size: 27px;
	margin-bottom: 10px;
	color: #4e5b5c;
}


#ibCaption {
	clear: left;
        font-size: 0.8em;
        font-style: italic;
        font-weight: normal;
}
.tip{
	color: #999999;
	font-style: italic;
}
.qualifier {
	display: block;
	font-size: 50%;
	font-style: italic;
	font-weight: normal;
}
