#page {
    width:580px;
    height:850px;
    margin: auto;
    font-family:Helvetica, Arial, sans-serif;
    color: rgb(75, 87, 90);
    font-size: 14px;
}
a {
	color: #78bcbf;
}
a:hover{
	color: #635F5C;
}

#mainChartContainer {
    width:325px;
    height:100%;
}

#chart {
    width:100%;
    height:100%;
    margin-top: 13px;
}
.bigBarLabel.pro{
	text-align: right;
}
.bigBarLabel {
    font-size:0.7em;
    font-style:italic;
    pointer-events:none;
    z-index:99999;
    fill:rgb(60, 60, 60);
    visibility:hidden;
    text-align: right;
}

#infoBox {
    float:right;
    width:240px;
    border-left: 1px dashed #999999;
    padding-top: 10px;
}

.miniChartContainer {
    width:50%;
    height:150px;
    margin-bottom:35px;
}

#ibLeftChartContainer {
    float:left;
    padding-left: 10px;
    box-sizing: border-box;
}

#ibRightChartContainer {
    float:right;
}

#miniChartTitle {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    margin-top: 10px;
}
.miniChartTitle{
	text-align: center;
}
.miniBarLabel {
    font-size: .7em;
    fill:black;
    margin-bottom: 2px;
}

.stateLabel {
    font-family:Arial, Helvetica, sans-serif;
    font-size:.8em;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis {
    opacity: .5;
    fill: none;
}

.x.axis line {
    stroke: #fff;
    stroke-opacity: .8;
}

.x.axis text {
    font: 8.5px sans-serif;
    fill: black;
}

.mini-axis path,
.mini-axis line {
    fill:none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x.mini-axis path {
    display: none;
}

.x.mini-axis text {
    font-size: .8em;
}

.colLabel {
    font: .9em sans-serif;
    fill: black;
}

.bar {
}

.bar.control {
    fill: #e1b51b;
}

.bar.rights {
    fill: #d08429;
}

/* INFO BOX */

.selectorMask {
    fill: rgba(55,55,55,0);
    z-index: 999;
}

.selectorMask.darkened{
    fill: rgba(55,55,55,.1);
}

.selectorMask.selected{
    fill: rgba(55,55,55,0);
    stroke-width: 1px;
    stroke-dasharray: 1px;
    stroke: rgb(158, 158, 158);
}
#ibChartTip{
	padding-left: 10px;
	font-size: .85em;
}
#ibHeader {
	font-size: 18px;
	margin-bottom: 0;
	color: #4e5b5c;
	background: url(bg_header.png) top left no-repeat;
	padding: 12px;
	width: 243px;
	height: 52px
}


#ibCaption {
	clear: left;
    font-size: 0.85em;
    font-style: italic;
    font-weight: normal;
    border-top: 3px solid #e8e9ea;
    color: rgb(123, 129, 131);
    line-height: 1.4em;
	padding-left: 10px;
	width: 100%;
	margin-top: 10px;
}
.tip{
	color: rgb(123, 129, 131);
	font-style: italic;
}
.qualifier {
	display: block;
	font-size: 65%;
	font-style: italic;
	font-weight: normal;
	padding-top: 2px;
}
.miniChartContainer .ieDataLink:hover{
	border-top: 1px solid black;
	padding: 2px;
}
.bar.rights:hover{
	fill: rgb(199, 93, 33);
}
.bar.control:hover{
	fill: rgb(231, 207, 28);
}